<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd">
<!--  
	<util:map id="codeMap" map-class="java.util.HashMap">
		<entry key="-1" value="系统内部错误" />
		<entry key="0" value="已获奖" />
		<entry key="1" value="活动未开启" />
		<entry key="2" value="不在活动时间段内" />
		<entry key="3" value="达到总累计数限制" />
		<entry key="4" value="达到每天累计数限制" />
		<entry key="5" value="时机未到" />
		<entry key="6" value="时机未到" />
		<entry key="7" value="条件不符合" />
		<entry key="8" value="没有openId" />
	</util:map>
-->

	<util:map id="commonMap" map-class="java.util.HashMap">
		<!-- <entry key="access.token.url" value="${access.token.url}" /> -->
		<entry key="cdn.base.url" value="${cdn.base.url}" />
	</util:map>
	
</beans>        